<!DOCTYPE html>
<html class="no-js" ng-app>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Hourly Timesheet Calculator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />        
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body ng-controller="hoursCtrl">
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">          
          <a class="navbar-brand text-center" href="#"><i class="icon-lightbulb"></i> Hourly Timesheet Calculator</a>
        </div>
      </div>      
    </div> <!-- navbar -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">        
        <h3 class="text-center">You have worked for <span class="text-info"><strong>{{totalHours()}}</strong></span> Hours.</h3>
        <h4 class="text-center hourStatus" ng-bind-html-unsafe="getStatus()"></h4>
      </div>
    </div> <!-- jumbotron -->
    
    <div class="container">
      <div class="bs-docs-section">
        <div class="row">
           <div class="form-inputs col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="well">
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon text-primary">Hours to be completed?</span>
                     <input type="number" ng-model="targetHrs" class="form-control" />
                  </div>
               </div>
               <ol class="unstyled">
                  <li class="form-group" ng-repeat="task in tasks">
                     <div class="input-group">
                        <span class="input-group-addon">Task {{tasks.indexOf(task) + 1}}</span>
                        <input type="number" min="0.25" step="0.25" ng-model="task.time" class="form-control" required="" autofocus/>
                        <span class="input-group-btn">
                           <button type="button" class="btn btn-danger" ng-click="remove($index)"><i class="icon-remove"></i></button>
                        </span>                        
                     </div>                     
                  </li>                  
               </ol> <!-- ordered list -->
               <hr />              
               <form>
                  <div class="form-group">
                     <div class="input-group">
                        <span class="input-group-addon">Add Task</span>
                        <input type="number" ng-model="newTaskHours" class="form-control" />
                        <span class="input-group-btn">
                           <button type="button" class="btn btn-primary" ng-click ="addTask()"><i class="icon-plus"></i></button>
                        </span>
                     </div>
                  </div> <!-- form-group -->
               </form> <!-- add form -->
               <div>
                  <button class="btn btn-default btn-block" ng-click="reset()"><i class="icon-trash"></i> Reset</button>
               </div> <!-- reset button -->
            </div> <!-- well -->
           </div> <!-- left column -->
           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h5><strong>Tips and Tricks!</strong></h5>            
            <div class="panel panel-primary">
               <div class="panel-heading"><i class="icon-info-sign"></i> How to calculate minutes in multiples of 0.25</div>               
               <ul class="panel-body">
                  <li><h5 class="">To accurately calculate time, add the minutes in multiples of 0.25</h5></li>
                  <li class="container"><i class="icon-hand-right"></i> <span class="text-info">15 minutes</span> equals to <strong>0.25</strong></li>
                  <li class="container"><i class="icon-hand-right"></i> <span class="text-info">30 minutes</span> equals to <strong>0.50</strong></li>
                  <li class="container"><i class="icon-hand-right"></i> <span class="text-info">45 minutes</span> equals to <strong>0.75</strong></li>
                  <li class="container"><i class="icon-hand-right"></i> <span class="text-info">60 minutes</span> equals to <strong>1.00</strong></li>
               </ul>
            </div> <!-- panel -->
           </div> <!-- right col -->
          </div> <!-- row -->
      </div> <!-- section -->

      <hr />
    </div> <!-- /container -->

      <footer class="container">
        <p>A simple web project to implement angularjs by <a class="text-primary" href="http://sharmikthakar.com"><strong>Sharmik Thakar</strong></a></p>
      </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/hours.js"></script>
    </body>
</html>
